{% extends "base.html" %}
{% block pageheader %}
Question Page
{% endblock pageheader %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ question.title }}</h5>
                Posted By: <span class="badge bg-primary">@{{ question.user.username }} </span> on <span
                    class="badge bg-secondary">{{ question.timestamp }}</span>
                <hr />
                {{ question.text }}
                <hr />
                <button type="button" class="btn btn-success mb-2">
                    <i class="bi bi-arrow-up me-1"></i>
                    <span class="badge bg-white text-success">UPVOTE_COUNT</span>
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger mb-2">
                    <i class="bi bi-arrow-down me-1"></i>
                    <span class="badge bg-white text-danger">DOWNVOTE_COUNT</span>
                </button>
            </div>
            <div class="card-footer">
                Question Comments:
                <br />
                <br />
                {% for comment in questionComments %}
                <div class="alert alert-secondary" role="alert">
                    {{ comment.text }} - <span class="badge bg-primary">Posted By: @{{ comment.user.username }} </span>
                    on <span class="badge bg-secondary">{{ comment.timestamp }}</span>
                    {% if comment.user == user %}
                    || <a
                        href="{% url 'deleteQuestionComment' question_id=question.id question_comment_id=comment.id %}"><span
                            class="badge bg-danger">Delete Comment</span></a>
                    {% endif %}
                </div>
                {% endfor %}
                <hr />
                <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                    data-bs-target="#question{{ question.id }}" aria-expanded="false"
                    aria-controls="question{{ question.id }}">
                    Post A Comment
                </button>
                {% if user == question.user %}
                <a href="{%url 'deleteQuestion' question_id=question.id %}">
                    <button type="button" class="btn btn-outline-danger">Delete Question</button>
                </a>
                {% endif %}
                <div class="collapse" id="question{{ question.id }}">
                    <br />
                    <form class="row g-3" action="{% url 'addQuestionComment' question_id=question.id %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" name="text" class="form-control" id="floatingText"
                                    placeholder="Comment Text" required>
                                <label for="floatingText">Comment Text</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postAnswer">
            Post An Answer
        </button>
        <!-- Modal -->
        <div class="modal fade" id="postAnswer" tabindex="-1" aria-labelledby="postAnswerLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="postAnswerLabel">Post An Answer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form class="row g-3" action="{% url 'addAnswer' question_id=question.id%}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" name="text" class="form-control" id="floatingAnswerContent"
                                        placeholder="Answer Content" required>
                                    <label for="floatingAnswerContent">Answer Content</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard
                                Changes</button>
                            <button type="submit" class="btn btn-primary">Submit Answer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <h3>Answers:</h6>
    </div>
</div>
{% for answer, comments in answers %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Posted By: @{{ answer.user.username }}</h5>
                {{ answer.text }}
                <hr />
                <button type="button" class="btn btn-success mb-2">
                    <i class="bi bi-arrow-up me-1"></i>
                    <span class="badge bg-white text-success">UPVOTE_COUNT</span>
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger mb-2">
                    <i class="bi bi-arrow-down me-1"></i>
                    <span class="badge bg-white text-danger">DOWNVOTE_COUNT</span>
                </button>
            </div>
            <div class="card-footer">
                Answer Comments:
                <br />
                <br />
                {% for comment in comments %}
                <div class="alert alert-secondary" role="alert">
                    {{ comment.text }} - <span class="badge bg-primary">Posted By: @{{ comment.user.username }} </span>
                    on <span class="badge bg-secondary">{{ comment.timestamp }}</span>
                    {% if comment.user == user %}
                    || <a
                        href="{% url 'deleteAnswerComment' question_id=question.id answer_id=answer.id answer_comment_id=comment.id %}"><span
                            class="badge bg-danger">Delete Comment</span></a>
                    {% endif %}
                </div>
                {% endfor %}
                <hr />
                <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                    data-bs-target="#answer{{ answer.id }}" aria-expanded="false" aria-controls="answer{{ answer.id }}">
                    Post A Comment
                </button>
                {% if user == answer.user %}
                <a href="{%url 'deleteAnswer' question_id=question.id answer_id=answer.id %}">
                    <button type="button" class="btn btn-outline-danger">Delete Answer</button>
                </a>
                {% endif %}
                <div class="collapse" id="answer{{ answer.id }}">
                    <br />
                    <form class="row g-3"
                        action="{% url 'addAnswerComment' question_id=question.id answer_id=answer.id %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" name="text" class="form-control" id="floatingText"
                                    placeholder="Comment Text" required>
                                <label for="floatingText">Comment Text</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}