{% extends "base.html" %}
{% block content %}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header
        class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <i class="material-icons">quiz</i>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
            <h3>{{ title }}</h3>
            <h5>{{ text }}</h5>
        </div>
        <div class="mdl-card__actions">
            <h6>Question Comments:</h6>
            <ul class="toc">
                {% for question_comments in question_comment %}<a>{{ question_comments.text }}</a>{% endfor %}
            </ul>
        </div>
    </div>
</section>
{% for text_comments in answers %}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h3>{{ text_comments.answer.text }}</h3>
            <h5>Posted By:</h5>
        </div>
        <div class="mdl-card__actions">
            <h6>Answer Comments:</h6>
            <ul class="toc">
                {% for comment in text_comments.comments %}<a>{{ comment.text }}</a>{% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endfor %}
<section class="section--footer mdl-color--white mdl-grid">
</section>
{% endblock content %}