{% extends "base.html" %}
{% block pageheader %}
Edit User Profile
{% endblock pageheader %}
{% block content %}
<form class="row g-3" action="" method="post">
    {% csrf_token %}
    <!-- Username -->
    <div class="col-md-12">
        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingName" placeholder="Username"
                value="{{ user.username }}" required>
            <label for="floatingName">Username</label>
        </div>
    </div>
    <!-- Password -->
    <div class="col-md-12">
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"
                required>
            <label for="floatingPassword">Password</label>
        </div>
    </div>
    <!-- About you -->
    <div class="col-md-12">
        <div class="form-floating">
            <input type="text" name="about" class="form-control" id="floatingAbout" placeholder="About You"
                value="{{ user.about }}" required>
            <label for="floatingAbout">About You</label>
        </div>
    </div>
    <!-- Profile pic -->
    <div class="col-md-12">
        <div class="form-floating">
            <input type="text" name="profile_pic" class="form-control" id="floatingProfilePic"
                placeholder="Profile Picture URL" value="{{ user.profile_pic }}" required>
            <label for="floatingProfilePic">Profile Picture URL</label>
        </div>
    </div>
    <!-- Education -->
    <script type="module">
      import Tags from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js";
      Tags.init("select");
    </script>

    <div class="row mb-3 g-3">
      <div class="col-md-4">
        <select class="form-select" id="floatingQual" name="qualifications[]" multiple data-allow-new="true">
            <option selected disabled hidden value="">Education</option>
            {% for qual in user_qual %}
                <option value={{ qual }} selected="selected">{{ qual }}</option>
            {% endfor %}
        </select>
      </div>
    </div>


    {% if not success %}
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    </div>
    {% endif %}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>
{% endblock content %}
