{% extends "base.html" %}
{% block pageheader %}
User Login
{% endblock pageheader %}
{% block content %}
<form class="row g-3" action="" method="post">
    {% csrf_token %}
    <div class="col-md-12">
        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingName" placeholder="Username" required>
            <label for="floatingName">Username</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"
                required>
            <label for="floatingPassword">Password</label>
        </div>
    </div>
    {% if not success %}
    <div class="col-md-12">
        <p style="color: #dc3545;">
            {{ error }}
        </p>
    </div>
    {% endif %}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>
{% endblock content %}